@import url("base.css");
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.07rem;
	width: 7.5rem;
	padding: 0.24rem;
	color: #333333;
	margin-bottom: 0.24rem;
}
header>a{
	height: 100%;
	line-height: 0.59rem;
	/*line-height: 0.32rem;*/
}
a>i{
	float: left;
}
.kuang {
	padding: 0 0.2rem;
	width: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 0.62rem;
	background-color: #f8f8f8;
}
header>a>h2 {
	font-size: 0.32rem;
	font-weight: 400;
}

.kuang>i {
	margin-right: 0.2rem;
}
.kuang>input{
	color: #666;
	height: 0.62rem;
	border: none;
	background-color: #f8f8f8;
}
.history{
	padding: 0 0.24rem;
	width: 7.5rem;
	height: 3rem;
	margin-bottom: 0.24rem;
}
h3{
	font-size: 0.42rem;
	color: #666666;
	margin-bottom: 0.24rem;
}
.bnts>li{
	background-color: #f7f7f7;
	float: left;
	margin-top: 0.24rem;
	margin-right: 0.24rem;
	font-size: 0.36rem;
	/*height: 0.7rem;*/
	padding: 0.24rem;
}
.hot {
	width: 7.5rem;
	padding: 0.24rem;
}
